// File names start with _ call, "partial" files.
// They are intend to import into a some other file.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what is 1 rem is. 62.5% --> 1rem -> 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
